In [1]:
## Agregate information from Matriculados

## Look up in copy trans the matriculados and if exists then insert it

In [ ]:
# Matriculados from Admisiones could has no have the same program as the matriculado from Bibliotecas

In [ ]:
# copy_trans has deleted user that have to map into the database

In [ ]:
# matriculados can have a type of borrower

In [2]:
# Matriculados schema

# 1. code (pkey)
# 2. program
# 3. jor
# 4. sede
# 5. borrower Type
# 6. departament
# 7. birth date
# 8. periodo
# 9. genero

# m_bajos: si ha sido retirado por bajos
# per_matriculados: número de períodos matriculados
# per_cancelados: número de períodos cancelados
# m_tesis: restricción con continuaciones de trabajo de grado
# m_activo: está matriculado?
# m_periodo_activo: último período matriculado
# m_grado: está graduado?
# sexo,
# Fecha_nacimiento,
# Estrato,

In [4]:
# MATRICULADOS INSERT o UPDATE : 
# 
# codigo,
# nombre,
# apellidos,
# programa,
# sede,
# jornada,
# enfasis,
# tipo_doc,
# doc,
# m_bajos: si ha sido retirado por bajos
# per_matriculados: número de períodos matriculados
# per_cancelados: número de períodos cancelados
# m_tesis: restricción con continuaciones de trabajo de grado
# m_activo: está matriculado?
# m_periodo_activo: último período matriculado
# m_grado: está graduado?
# sexo,
# Fecha_nacimiento,
# Comuna,
# Direc,
# Estrato,
# cod_barrio,
# cod_ciudad,
# Cod_Colegio: (Me puedes enviar la BD de colegio codigo y nombre)
# Anio_egreso,
# Valor_matricula,
# Telefono,
# celular,
# Correo_personal,
# Correo_Institucional,
# Valor_pension

In [60]:
import pandas as pd


df = pd.read_csv(
        '../data/matriculados_pregrado.txt',
    encoding = "ISO-8859-1",
    chunksize=1000000,
    sep=';',
    engine='python',
    doublequote=True,
    index_col=False,
    names=[
        "codigo",
        "nombre",
        "apellidos",
        "programa",
        "sede",
        "jornada",
        "enfasis",
        "tipo_doc",
        "doc",
        "m_bajos",
        "per_matriculados",
        "per_cancelados",
        "m_tesis",
        "m_activo",
        "m_periodo_activo",
        "m_grado",
        "sexo",
        "Fecha_nacimiento",
        "Direc",
        "Comuna",
        "Estrato",
        "cod_barrio",
        "cod_ciudad",
        "Cod_Colegio",
        "Anio_egreso",
        "Valor_matricula",
        "Telefono",
        "celular",
        "Correo_personal",
        "Correo_Institucional",
        "Valor_pension"
    ]
)

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [61]:
chunk_list = []  # append each chunk df here 

# Each chunk is in df format
for chunk in df:  
    # perform data filtering 
    # chunk_filter = chunk_preprocessing(chunk)
    
    # Once the data filtering is done, append the chunk to list
    # chunk_list.append(chunk_filter)
    
    # for now just add the chunk part
    chunk_list.append(chunk)
    
# concat the list into dataframe 
df_concat = pd.concat(chunk_list)

/opt/app/.venv/lib/python3.7/site-packages/pandas/io/parsers/readers.py:1024: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  return self.get_chunk()

In [63]:
# Filter out unimportant columns
matriculados = df_concat[[
        "codigo",
        "nombre",
        "apellidos",
        "programa",
        "sede",
        "jornada",
        "tipo_doc",
        "doc",
        "m_bajos",
        "per_matriculados",
        "per_cancelados",
        "m_tesis",
        "m_activo",
        "m_periodo_activo",
        "m_grado",
        "sexo",
        "Fecha_nacimiento",
        "Estrato"
    ]]


matriculados.set_index('codigo', inplace=True)
matriculados.sort_values('codigo')
matriculados.tail()

,nombre,apellidos,programa,sede,jornada,tipo_doc,doc,m_bajos,per_matriculados,per_cancelados,m_tesis,m_activo,m_periodo_activo,m_grado,sexo,Fecha_nacimiento,Estrato
codigo,,,,,,,,,,,,,,,,,
198166510,ALBA LUCIA,VALENCIA ROMERO,3249,0,DIU,C.C.,31160365,f,11,0,f,f,FJ07,t,F,1962-05-26,NaN
201527646,OSCAR LEONARDO,GALLEGO MOLINA,3340,0,DIU,C.C.,1107507936,t,2,0,f,f,AD15,f,M,1997-02-18,02
199706923,SANDRA PATRICIA,ESPINOSA CASTRO,3752,0,DIU,C.C.,66947408,f,19,0,f,f,FJ12,t,F,1975-02-27,02
200734252,JADER ANDRES,GUTIERREZ CAMPOS,3749,0,DIU,C.C.,1107047973,f,1,0,f,f,FJ07,f,M,1988-02-11,01
200442902,SANDRA MILENA,CAICEDO CASTA-EDA,3555,0,DIU,C.C.,31306624,f,1,0,f,f,AD04,f,F,1984-03-05,02

In [64]:
matriculados.dtypes

nombre              object
apellidos           object
programa             int64
sede                 int64
jornada             object
tipo_doc            object
doc                 object
m_bajos             object
per_matriculados     int64
per_cancelados       int64
m_tesis             object
m_activo            object
m_periodo_activo    object
m_grado             object
sexo                object
Fecha_nacimiento    object
Estrato             object
dtype: object

In [66]:
# Change the dtypes (int64 -> int32)
matriculados[['programa','sede', 'per_matriculados', 'per_cancelados']] = matriculados[['programa','sede', 'per_matriculados', 'per_cancelados']].astype('int32')

/opt/app/.venv/lib/python3.7/site-packages/pandas/core/frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [68]:
matriculados.dtypes

nombre              object
apellidos           object
programa             int32
sede                 int32
jornada             object
tipo_doc            object
doc                 object
m_bajos             object
per_matriculados     int32
per_cancelados       int32
m_tesis             object
m_activo            object
m_periodo_activo    object
m_grado             object
sexo                object
Fecha_nacimiento    object
Estrato             object
dtype: object

In [69]:
matriculados.describe()

            programa           sede  per_matriculados  per_cancelados
count  140271.000000  140271.000000     140271.000000   140271.000000
mean     3375.767386       2.539000          6.980466        0.131823
std       463.889763       4.504885          5.126924        0.405454
min      2131.000000       0.000000          0.000000        0.000000
25%      3140.000000       0.000000          2.000000        0.000000
50%      3541.000000       0.000000          6.000000        0.000000
75%      3751.000000       4.000000         11.000000        0.000000
max      3857.000000      21.000000         45.000000        8.000000

In [71]:
matriculados.count()

nombre              140271
apellidos           140271
programa            140271
sede                140271
jornada             140271
tipo_doc            140271
doc                 140271
m_bajos             140271
per_matriculados    140271
per_cancelados      140271
m_tesis             140271
m_activo            140271
m_periodo_activo    140178
m_grado             140271
sexo                140271
Fecha_nacimiento    140271
Estrato             100158
dtype: int64

In [ ]:
# clean NaN estrato