In [15]:
import pandas as pd

df = pd.read_csv(
        '../data/titles.txt',
    encoding = "ISO-8859-1",
    sep='|',
    engine='python',
    doublequote=True
)

df.columns = df.columns.str.replace('|','')
df.columns = df.columns.str.replace("''",'|')
df.columns = df.columns.str.replace("'","")
columns = df.columns.str.split("|")[0]
df.columns = [("data")]

new_df = df['data'].str.split(pat="|", expand=True)
df[columns] = new_df.iloc[:,:3]
df = df.iloc[:,1:4]

/opt/app/.venv/lib/python3.7/site-packages/ipykernel_launcher.py:11: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  # This is added back by InteractiveShellApp.init_path()

,TITLENO,TITLE,SUBTITLE
0,251,Relaciones en público,Microestudios de orden público
1,252,The economics of power,
2,1577,Alternating-current machinery,
3,1592,Conversión de energía electromecánica,
4,1994,Regulacion de la fecundidad,"Conocimientos, actitudes y practica de la pobl..."
...,...,...,...
370046,931589,"Semiótica, cultura y desarrollo psicológico",
370047,931595,Star trek,el viaje de una generación
370048,931607,Vermeer,
370049,931608,Vida y arte de Glenn Gould,
370050,931744,Problems in materialism and culture,selected essays

In [16]:
df.set_index('TITLENO', inplace=True)
df.sort_values('TITLENO')
df

,TITLE,SUBTITLE
TITLENO,,
251,Relaciones en público,Microestudios de orden público
252,The economics of power,
1577,Alternating-current machinery,
1592,Conversión de energía electromecánica,
1994,Regulacion de la fecundidad,"Conocimientos, actitudes y practica de la pobl..."
...,...,...
931589,"Semiótica, cultura y desarrollo psicológico",
931595,Star trek,el viaje de una generación
931607,Vermeer,
931608,Vida y arte de Glenn Gould,
931744,Problems in materialism and culture,selected essays

In [17]:
df.dtypes

TITLE       object
SUBTITLE    object
dtype: object

In [18]:
df.describe()

           TITLE SUBTITLE
count     370051   370051
unique    324176    80071
top     Memorias
freq         152   280578

# Cleaning Data

##### https://towardsdatascience.com/how-to-check-for-missing-values-in-pandas-d2749e45a345

In [19]:
df.isna().any().any()

False

In [20]:
df.isnull().any().any()

False

In [21]:
df.isna().sum().sum()

0

In [22]:
df.isna().sum()/(len(df))*100

TITLE       0.0
SUBTITLE    0.0
dtype: float64

In [23]:
df.loc[:, df.isnull().any()].columns

Index([], dtype='object')

In [26]:
df.dropna(subset=["TITLE"])

,TITLE,SUBTITLE
TITLENO,,
251,Relaciones en público,Microestudios de orden público
252,The economics of power,
1577,Alternating-current machinery,
1592,Conversión de energía electromecánica,
1994,Regulacion de la fecundidad,"Conocimientos, actitudes y practica de la pobl..."
...,...,...
931589,"Semiótica, cultura y desarrollo psicológico",
931595,Star trek,el viaje de una generación
931607,Vermeer,
931608,Vida y arte de Glenn Gould,
931744,Problems in materialism and culture,selected essays

# Save data to another file

In [27]:
df.to_csv('titles_modified.csv', index=True, sep='*')